.mainContainer {
    display: flex;
    flex-direction: row;
}

.first {
    flex-direction: column;
    width: 584px;
    height: 800px;
    margin-top: 148px;
    margin-right: 200px;
}

.header {
    text-align: start;
    margin-left: 60px;
    margin-bottom: 20px;
}

.scroll {
    width: 700px;
    height: 852px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 24px;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 626px;
    margin-top: 208px;
}

.statusColumns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
    text-align: start;
}

.readyColumns {
    display: flex;
    justify-content: space-between;
}

.readyOrders {
    height: 152px;
    width: 48%;
    margin-top: 24px;
    overflow-y: auto;
    color: rgba(0, 204, 204, 1);
}

.inProgressOrders {
    height: 152px;
    width: 100%;
    overflow-y: auto;
}
.completedStats {
    margin-top: 70px;
    text-align: start;
}
.loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
